<?xml version="1.0"?>
<!--
 /**
  * @author: Pasquale Convertini <pasqualeconvertini95@gmail.com>
  * @github: @Pasquale95
  *
  * This file is subject to the terms and conditions defined in
  * file 'LICENSE', which is part of this source code package.
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- COMMAND CONSOLE -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="generate" xsi:type="object">Paskel\Seo\Console\Hreflang</item>
            </argument>
        </arguments>
    </type>
    <!-- HREFLANG -->
    <preference type="Paskel\Seo\Model\Hreflang\HreflangRepository" for="Paskel\Seo\Api\HreflangRepositoryInterface"/>
    <preference type="Paskel\Seo\Model\Hreflang\Hreflang" for="Paskel\Seo\Api\Data\HreflangInterface"/>
    <preference type="Paskel\Seo\Model\Hreflang\HreflangSearchResults" for="Paskel\Seo\Api\Data\HreflangSearchResultsInterface"/>
    <!-- SOCIAL MARKUP -->
    <!-- To setup the input args for the image uploader constructor -->
    <virtualType name="Paskel\Seo\Model\SocialMarkup\ImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">seo/tmp/cmspage</argument>
            <argument name="basePath" xsi:type="string">seo/cmspage</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Paskel\Seo\Controller\Adminhtml\SocialMarkup\ImageUpload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Paskel\Seo\Model\SocialMarkup\ImageUpload</argument>
        </arguments>
    </type>
    <!-- To correctly render image preview -->
    <type name="Magento\Cms\Model\Page\DataProvider">
        <plugin name="imageUploaderFixer" type="Paskel\Seo\Plugin\SocialMarkup\ImageUploaderFixer"/>
    </type>
</config>
