<?xml version="1.0"?>
<!--
 /**
  * @author: Pasquale Convertini <pasqualeconvertini95@gmail.com>
  * @github: @Pasquale95
  *
  * This file is subject to the terms and conditions defined in
  * file 'LICENSE', which is part of this source code package.
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Paskel_Seo">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_Search"/>
            <module name="Magento_Store"/>
            <module name="Magento_Eav"/>
            <module name="Magento_GraphQl"/>
            <module name="Magento_StoreGraphQl"/>
            <module name="Magento_EavGraphQl"/>
        </sequence>
    </module>
</config>
