<?xml version="1.0" encoding="UTF-8" ?>
<!--
 /**
  * @author: Pasquale Convertini <pasqualeconvertini95@gmail.com>
  * @github: @Pasquale95
  *
  * This file is subject to the terms and conditions defined in
  * file 'LICENSE', which is part of this source code package.
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- SEO -->
        <section id="seo" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>SEO</label>
            <tab>catalog</tab>
            <resource>Paskel_Seo::hreflang</resource>
            <!-- HREFLANG -->
            <group id="hreflang" translate="label" type="text" sortOrder="10" showInStore="1" showInDefault="1" showInWebsite="1">
                <label>Hreflang Settings</label>
                <field id="category_hreflang" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Hreflang for Category</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable hreflang completion for categories.</comment>
                </field>
                <field id="product_hreflang" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Hreflang for Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable hreflang completion for products.</comment>
                </field>
                <field id="cms_page_hreflang" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Hreflang for Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable hreflang completion for cms pages.</comment>
                </field>
                <field id="use_locale" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Use Locale for Hreflang</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to yes if the store language is the same defined as locale.</comment>
                </field>
                <field id="hreflang_lang" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hreflang Language</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale</source_model>
                    <depends>
                        <field id="use_locale">0</field>
                    </depends>
                    <comment>Choose the language and country to use as hreflang code. If the requested option is not available, add the code in the option below.</comment>
                </field>
                <field id="custom_hreflang" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hreflang Custom Code</label>
                    <depends>
                        <field id="use_locale">0</field>
                    </depends>
                    <comment>Specify the hreflang code to use for the store view according to the ISO 639-1 (e.g. it-it).</comment>
                </field>
            </group>
            <group id="socialMarkup" translate="labeln" type="text" sortOrder="11" showInStore="1" showInDefault="1" showInWebsite="1">
                <label>Social Markup Settings</label>
                <field id="site_name" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Site name</label>
                    <comment>Specify the name to use as content for the property "og:site_name".</comment>
                </field>
                <field id="hide_unset_properties_graphql" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Hide unset properties in GraphQL</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to yes if you want to add the unset options in the graphQL.</comment>
                </field>
            </group>
        </section>
        <section id="web">
            <group id="frontend_settings" translate="label comment" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Frontend PWA Settings</label>
                <comment>Section to fill with frontend-related information.</comment>
                <field id="use_pwa_frontend" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Frontend PWA</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to yes if you are using the PWA technology and a separated server for the frontend.</comment>
                </field>
                <field id="frontend_url" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Frontend URL</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Baseurl</backend_model>
                    <comment>Specify the domain at with the PWA frontend is reachable e.g. http://0.0.0.0:1000/</comment>
                    <depends>
                        <field id="web/frontend_settings/use_pwa_frontend">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
