<?xml version="1.0" encoding="UTF-8" ?>
<!--
 /**
  * @author: Pasquale Convertini <pasqualeconvertini95@gmail.com>
  * @github: @Pasquale95
  *
  * This file is subject to the terms and conditions defined in
  * file 'LICENSE', which is part of this source code package.
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="paskel" translate="label" sortOrder="900">
            <label>Paskel</label>
        </tab>
        <!-- SEO -->
        <section id="seo" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>SEO</label>
            <tab>paskel</tab>
            <resource>Paskel_Seo::seo_config</resource>
            <!-- GENERAL -->
            <group id="general" translate="label" type="text" sortOrder="10" showInStore="1" showInDefault="1" showInWebsite="1">
                <label>General Settings</label>
                <field id="use_pwa_frontend" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Frontend PWA</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to yes if you are using the PWA technology and a separated server for the frontend.</comment>
                </field>
                <field id="frontend_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Frontend URL</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Baseurl</backend_model>
                    <comment>Specify the domain at with the PWA frontend is reachable e.g. http://0.0.0.0:1000/</comment>
                    <depends>
                        <field id="seo/general/use_pwa_frontend">1</field>
                    </depends>
                </field>
                <field id="site_name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Website name</label>
                    <comment>Specify the website name to use for social share and rich snippets.</comment>
                </field>
                <field id="website_logo" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Website logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">seo/general/logo</upload_dir>
                    <base_url type="media" scope_info="1">seo/general/logo</base_url>
                </field>
            </group>
            <!-- HREFLANG -->
            <group id="hreflang" translate="label" type="text" sortOrder="20" showInStore="1" showInDefault="1" showInWebsite="1">
                <label>Hreflang Settings</label>
                <field id="x_default_hreflang" translate="label" type="select" sortOrder="1" showInDefault="1">
                    <label>Default Store</label>
                    <source_model>Paskel\Seo\Model\Config\Source\Store</source_model>
                    <comment>Choose the default store whose hreflang would be defined as x-default.</comment>
                </field>
                <field id="category_hreflang" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Hreflang for Category</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable hreflang completion for categories.</comment>
                </field>
                <field id="product_hreflang" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Hreflang for Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable hreflang completion for products.</comment>
                </field>
                <field id="cms_page_hreflang" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Hreflang for Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable hreflang completion for cms pages.</comment>
                </field>
                <field id="use_locale" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Use Locale for Hreflang</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to yes if the store language is the same defined as locale.</comment>
                </field>
                <field id="hreflang_lang" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hreflang Language</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale</source_model>
                    <depends>
                        <field id="use_locale">0</field>
                    </depends>
                    <comment>Choose the language and country to use as hreflang code. If the requested option is not available, add the code in the option below.</comment>
                </field>
                <field id="custom_hreflang" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hreflang Custom Code</label>
                    <frontend_model>Paskel\Seo\Block\Adminhtml\System\Config\Form\Field\CustomHreflang</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="use_locale">0</field>
                    </depends>
                    <comment>If you do not find the hreflang combination in the option above, create a custom combination using this option.</comment>
                </field>
            </group>
            <!-- SOCIAL MARKUP -->
            <group id="socialMarkup" translate="label" type="text" sortOrder="30" showInStore="1" showInDefault="1" showInWebsite="1">
                <label>Social Markup Settings</label>
                <field id="hide_unset_properties_graphql" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Hide unset properties in GraphQL</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to yes if you want to add the unset options in the graphQL.</comment>
                </field>
                <field id="product_placeholder" type="image" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Image Placeholder</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">seo/socialMarkup/placeholder</upload_dir>
                    <base_url type="media" scope_info="1">seo/socialMarkup/placeholder</base_url>
                </field>
                <field id="category_placeholder" type="image" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category Image Placeholder</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">seo/socialMarkup/placeholder</upload_dir>
                    <base_url type="media" scope_info="1">seo/socialMarkup/placeholder</base_url>
                </field>
                <field id="cms_page_placeholder" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CMS Page Image Placeholder</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">seo/socialMarkup/placeholder</upload_dir>
                    <base_url type="media" scope_info="1">seo/socialMarkup/placeholder</base_url>
                </field>
                <field id="enable_twitter_card" translate="label" sortOrder="50" type="select" showInDefault="1">
                    <label>Enable Twitter Card</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to yes you want to add Twitter card markups in the graphql.</comment>
                </field>
                <field id="twitter_card" translate="label" sortOrder="55" type="select" showInDefault="1">
                    <label>Twitter Card</label>
                    <source_model>Paskel\Seo\Model\Config\Source\TwitterCard</source_model>
                    <comment>Choose the twitter card type to use for sharing.</comment>
                    <depends>
                        <field id="enable_twitter_card">1</field>
                    </depends>
                </field>
                <field id="twitter_account_handle" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Twitter Account Handle</label>
                    <comment>Specify the twitter account handle (e.g. @username).</comment>
                    <depends>
                        <field id="enable_twitter_card">1</field>
                    </depends>
                </field>
            </group>
            <!-- SCHEMA ORG -->
            <group id="schemaOrg" translate="label" type="text" sortOrder="40" showInStore="1" showInDefault="1" showInWebsite="1">
                <label>Schema.org Settings</label>
                <field id="enable_organization" translate="label" type="select" sortOrder="5" showInDefault="1">
                    <label>Enable Organization Schema</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to yes if you want to add organization schema.org (https://schema.org/Organization).</comment>
                </field>
                <field id="organization_name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Organization name</label>
                    <comment>Specify the organization name.</comment>
                    <depends>
                        <field id="enable_organization">1</field>
                    </depends>
                </field>
                <field id="organization_url" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Organization Url</label>
                    <comment>Specify the organization url.</comment>
                    <depends>
                        <field id="enable_organization">1</field>
                    </depends>
                </field>
                <field id="reference_links" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Reference Links</label>
                    <frontend_model>Paskel\Seo\Block\Adminhtml\System\Config\Form\Field\SocialLinks</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>List of links to social pages connected to the organization/website.</comment>
                    <depends>
                        <field id="enable_organization">1</field>
                    </depends>
                </field>
                <field id="enable_website" translate="label" type="select" sortOrder="30" showInDefault="1">
                    <label>Enable Website Schema</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to yes if you want to add the website schema.org (https://schema.org/WebSite).</comment>
                </field>
                <field id="enable_product" translate="label" type="select" sortOrder="40" showInDefault="1">
                    <label>Enable Product Schema</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to yes if you want to add the product schema.org (https://schema.org/Product).</comment>
                </field>
            </group>
        </section>
    </system>
</config>
